.about{
  height: 100vh;
  width: 100%;
  background-image: url("https://127.0.0.1:8000//upload/undraw_proud.png");
  background-clip:initial;
  background-size: 90vh;
  background-repeat: no-repeat;
  background-position: right;
}